@import url("reset.css");
@import url("markdown.css");

body {
   max-width: 800px;
}
nav { margin-bottom: 1em; }
nav ul { width: 100%; }
nav li { display: inline; font-size: 2em; margin-right: 0.5em; }
nav li a { text-decoration: none; }
nav li, nav a { color: #844; }

img[alt="Block Diagram"] { text-align: center; }

ul {
	list-style-type: disc;
	list-style-position: inside;
}