/* the page 'article.html' specific css */

/* Sticky footer styles ripped off from http://twitter.github.io/bootstrap/examples/sticky-footer.html
-------------------------------------------------- */

html,
body {
	height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -30px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 30px;
}

#footer {
	background-color: #f5f5f5;
	text-align:right;
}

.hidden {
	display: none;
}

.alertbox {
	background-color: #EEEEEE;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
	border: solid 1px black;
	margin-top: 0px;
	margin-bottom: 20px;
}

button.close {
	margin-top: -20px;
}

div.article-div-main {
	padding-top:20px;
}

#blogtitle {
	padding-top: 20px;
}